{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ photo.sign }}{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ photo.sign }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                <img src="{{ photo.photo.url }}" class="img-fluid" alt="photo">
            </div>
        </div>
        <p><b>Автор:</b> {{ photo.author }}</p>
        <p><b>Дата создания:</b> {{ photo.created_at }}</p>
        <p><b>Лайки:</b> {{ photo.like_count}}</p>
        <p><a href="{% url 'webapp:photo_update' photo.pk %}" class="btn btn-primary">Изменить</a></p>
        <p><a href="{% url 'webapp:photo_delete' photo.pk %}" class="btn btn-danger">Удалить</a></p>
    </div>
    <div class="comment-list">
        {% for comment in photo.comment_photo.all %}
            <div class="comment">
                <p><b>Author:</b> {{ comment.author }} <b>Created at:</b> {{ comment.created_at }}</p>
                <div class="pre">{{ comment.text }}</div>
                <p class="comment-links">
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </p>
            </div>
        {% empty %}
            <p>No reviews yet.</p>
        {% endfor %}
    </div>

{% endblock %}
